@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.black-header {
  background-color: black;
  padding: 8px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.black-header img {
  height: 30px;
}

.black-header a {
  color: white;
  margin: 0px 8px;
  text-decoration: none;
  font-size: 12px;
}

.black-header a:hover {
  color: grey;
}

.hero {
  background-image: url("https://d39l2hkdp2esp1.cloudfront.net/img/photo/262520/262520_00_2x.jpg?20220907171556");
  height: 200px;
  padding: 32px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.shipment-tracking {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 180px;
}

.shipment-tracking a {
  padding: 12px 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shipment-tracking a:hover {
  background-color: #e5e5e5;
}

.shipment-tracking a div i {
  margin-right: 4px;
}

.first-link {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.divider {
  border-bottom: 1px solid #e5e5e5;
}

.send-link {
  background-color: #ce252d;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.send-link:hover {
  background-color: #a11d24 !important;
}

.discount-card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  height: 50%;
  border-radius: 5px;
}

.discount-item {
  margin-bottom: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.grid-item {
  background-color: #e5e5e5;
}
