* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-text {
  font-size: 12px;
}

.black-box {
  width: 100px;
  height: 100px;
  background-color: black;
}

.red-box {
  width: 200px;
  height: 200px;
  background-color: red;
}

#birthday-section {
  background-color: green;
}

.hide {
  display: none;
}
