* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid lightgray;
}

.contact-button {
  background-color: brown;
  color: white;
  padding: 10px 16px;
  border-radius: 30px;
}

.contact-button:hover {
  background-color: rgb(107, 27, 27);
  transition: 300ms;
}

.burger {
  display: none;
  cursor: pointer;
  background-color: black;
  padding: 2px 1px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .contact-button {
    display: none;
  }

  nav {
    position: absolute;
    left: 0;
    height: 100vh;
    top: 0;
    background-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; /* Set initial width to 50% */
    transform: translateX(-100%); /* Start off-screen */
    transition: transform 0.5s ease-in-out; /* Smooth transition for both opening and closing */
    overflow-y: hidden; /* Disable scroll */
  }

  nav a {
    display: block;
    margin: 20px 0;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0); /* Slide in from left */
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
