* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: blue;
}

/* Kai mažesnis nei 600px */
@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
/* Nuo 600px iki 768px  */
@media (min-width: 600px) and (max-width: 768px) {
  /* CSS taisyklės vidutinio dydžio įrenginiams */
  body {
    background-color: lightcoral;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS taisyklės dideliems įrenginiams */
  body {
    background-color: lightgoldenrodyellow;
  }
}
